<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Nuget Official" value="https://api.nuget.org/v3/index.json" />
    <add key="MicroBuild" value="https://devdiv.pkgs.visualstudio.com/DefaultCollection/_packaging/MicroBuildToolset/nuget/v3/index.json" />
    <add key="xvs" value="http://xvs.devdiv.io/index.json" />
    <add key="myget-xvs" value="https://www.myget.org/F/xvs/api/v3/index.json" />
    <add key="merq" value="https://nugetized.blob.core.windows.net/merq/index.json" />
    <add key="clide" value="https://nugetized.blob.core.windows.net/clide/index.json" />
  </packageSources>
   <packageSourceCredentials>
    <MicroBuild>
      <add key="Username" value="xamarinc" />
      <add key="ClearTextPassword" value="aoz47szq5m6yvacdulvtnr6glrdsl5zjjmsle6yiodzlmy7upozq" />
    </MicroBuild>
  </packageSourceCredentials>
</configuration>